.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
}

.main {
  flex: 1;
  width: 100%;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .main {
    padding: 0;
  }
}
